{
  "extends": [
    "airbnb",
    "xo-nextjs",
    "prettier"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", "tsx"] }],
    "react/prop-types": [2, { "ignore": ["children"]}],
    "react/react-in-jsx-scope": "off"
  }
}